body {
  background: linear-gradient(cornflowerblue, lightblue, cornflowerblue);
}

div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 200px;
}

.container > div {
  display: flex;

  flex-direction: column;
  border: 5px solid cornflowerblue;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1rem 1rem black;
  height: 50px;
  width: 50px;
  background-color: beige;
}

.container > div:hover {
  background-color: green;
  cursor: pointer;
}
